<footer>
	<small>
		
	</small>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">var currentPage = <?php echo json_encode($page); ?>;</script>
<script src="js/checkForm.js"></script>
<script src="js/utilities.js"></script>
<script src="js/bddFunctions.js"></script>
<script src="js/smoothScroll.js"></script>
<script src="js/isIntoView.js"></script>
<script src="js/sendMail.js"></script>
<script src="js/storageFunctions.js"></script>
<script src="js/main.js"></script>