<article>
    <h2>Connexion</h2>
    <form id="adminForm">
        <fieldset>
            <legend>Identifiants</legend>
            <label for="userLog">Pseudo :</label>
            <input type="text" name="userLog" id="userLog" required>
            <label for="userPass">Mot de passe :</label>
            <input type="password" name="userPass" id="userPass" required>
            
            <div id="errorForm"><p></p></div>
            
            <button data-action_form="bkoffice/" type="button" class="sendForm">
                Connexion
            </button>
        </fieldset>
    </form>
</article>
